<!-- The answer.html.erb will display the question you ask your coach as well as his answer. -->

<p><%= @question %></p>

<p><%= @x %> </p>

<p><%= link_to "Ask another", controller: "questions", action: "ask" %></p>


